:root {
  // THEMES COLORS

  // accueil
  --fp-theme-color-accueil-main:                rgb(120, 51, 161);
  --fp-theme-color-accueil-secondary:           rgb(242,3,13);
  --fp-theme-color-accueil-ternary:             rgb(227,212,190);

  // learningLab
  --fp-theme-color-learningLab-main:            rgb(170, 200, 255);
  --fp-theme-color-learningLab-secondary:       rgb(255, 105, 23);
  --fp-theme-color-learningLab-ternary:         rgb(0, 0, 255);

  // makerlab
  --fp-theme-color-makerlab-main:               rgb(61, 240, 105);
  --fp-theme-color-makerlab-secondary:          rgb(23, 84, 255);
  --fp-theme-color-makerlab-ternary:            rgb(255, 0, 252);

  // foodlab
  --fp-theme-color-foodlab-main:                rgb(210, 200, 180);
  --fp-theme-color-foodlab-secondary:           rgb(55, 0, 125);
  --fp-theme-color-foodlab-ternary:             rgb(255, 248, 0);

  // default
  --fp-theme-color-default-main:                rgb(255, 255, 255);
  --fp-theme-color-default-secondary:           rgb(0,89,255);
  --fp-theme-color-default-ternary:             rgb(255,0,255);
  --fp-theme-color-default-ternary--light:      rgb(255, 180, 255);

  // grandlab
  --fp-theme-color-grandlab-main:               rgb(255, 199, 140);
  --fp-theme-color-grandlab-secondary:          rgb(245, 0, 180);
  --fp-theme-color-grandlab-ternary:            rgb(50, 173, 133);

  // hotel_entreprise
  --fp-theme-color-hotel_entreprise-main:       rgb(189, 215, 219);
  --fp-theme-color-hotel_entreprise-secondary:  rgb(140, 120, 220);
  --fp-theme-color-hotel_entreprise-ternary:    rgb(155, 204, 0);

  // creche
  --fp-theme-color-creche-main:                 rgb(0, 185, 135);
  --fp-theme-color-creche-secondary:            rgb(185, 230, 255);
  --fp-theme-color-creche-ternary:              rgb(255, 83, 0);

  // ecole_horlogerie
  --fp-theme-color-ecole_horlogerie-main:       rgb(190, 165, 230);
  --fp-theme-color-ecole_horlogerie-secondary:  rgb(0, 125, 255);
  --fp-theme-color-ecole_horlogerie-ternary:    rgb(200, 140, 50);





  //
  --fp-type-unit: 25px;

  --fp-gutter: .5rem;

  --fp-section-margin: 2rem;

  --fp-color-white: #fff;
  --fp-color-black:         hsl(300, 58%, 5%);

  --fp-color-grey-light: #ececec;
  --fp-color-grey: #cbcbcb;
  --fp-color-grey-dark: #6c6c6c;

  --fp-font-size-small: .7rem;
  --fp-line-height-small: .9rem;


  --fp-theme-color-main:             var(--fp-theme-color-default-main);
  --fp-theme-color-secondary:        var(--fp-theme-color-default-secondary);
  --fp-theme-color-ternary:          var(--fp-theme-color-default-ternary);
  --fp-theme-color-menu:             var(--fp-color-default);

  --fp-app-nav-height: 2rem;

  --fp-app-bottom-height: 2rem;

  --fp-color-default:                 var(--fp-theme-color-default-ternary);
  --fp-color-accueil:                 var(--fp-theme-color-accueil-secondary);
  --fp-color-makerlab:                var(--fp-theme-color-makerlab-secondary);
  --fp-color-learninglab:             var(--fp-theme-color-learningLab-secondary);
  --fp-color-foodlab:                 var(--fp-theme-color-foodlab-ternary);
  --fp-color-grandlab:                var(--fp-theme-color-grandlab-main);
  --fp-color-hotel_entreprises:       var(--fp-theme-color-hotel_entreprise-ternary);
  --fp-color-ecole_horlogerie:        var(--fp-theme-color-ecole_horlogerie-main);
  --fp-color-creche:                  var(--fp-theme-color-creche-secondary);

}
