html {
  font-size: var(--fp-type-unit);
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

body {
  font-family: 'Jungka-ForPro', sans-serif;
  font-size: .8rem;
  line-height: 1rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: .5rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--fp-color-grey-light);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--fp-theme-color-secondary);
    outline: none;
    border-radius: 2rem;
  }
}

.fp-remove-margin-child {
  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }
}


button,
.fp-ui-button {
  //all: unset;
  display: inline-block;
  border: solid 2px var(--fp-theme-color-secondary);
  background-color: var(--fp-theme-color-ternary);
  color: var(--fp-theme-color-secondary);
  height: 2rem;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: .5rem;
  line-height: .7rem;
  cursor: pointer;
  text-decoration: none !important;

  > * {
    color: inherit;
    text-decoration: none;
  }

  &.fp-ui-button--variante {
    border-color: var(--fp-theme-color-main);
  }

  &.fp-ui-button--blue {
    color: white !important;
    border-color: var(--fp-theme-color-makerlab-secondary) !important;
    background-color: var(--fp-theme-color-makerlab-secondary) !important;

    &:hover {
      background: white !important;
      color: var(--fp-theme-color-makerlab-secondary) !important;
    }
  }

  &.fp-ui-button--variante-with-background {
    border-color: var(--fp-theme-color-main);
    background: var(--fp-theme-color-secondary);
    color: var(--fp-color-white);
  }

  &.fp-ui-button--light {
    border-color: var(--fp-color-grey-light);
    background:   var(--fp-color-grey-light);
    color: var(--fp-color-black);

    &.is-active {
      color: var(--fp-color-grey-light);
      background: var(--fp-color-black);
    }
  }

  &.fp-ui-button--small {
    padding: .25rem .5rem;
    height: 1.5rem;
    font-size: var(--fp-font-size-small);
    line-height: 1.75ex;
  }
}

a {
  text-decoration: none;
  color: var(--fp-theme-color-secondary);
}

.fp-text-color-default            {&.is-hover-from-nav, &.is-active {color: var(--fp-color-default)              !important;}  &:hover{color: var(--fp-color-default)            !important}}
.fp-text-color-LearningLab        {&.is-hover-from-nav, &.is-active {color: var(--fp-color-learninglab)          !important;}  &:hover{color: var(--fp-color-learninglab)        !important}}
.fp-text-color-MakerLab           {&.is-hover-from-nav, &.is-active {color: var(--fp-color-makerlab)             !important;}  &:hover{color: var(--fp-color-makerlab)           !important}}
.fp-text-color-GrandLab           {&.is-hover-from-nav, &.is-active {color: var(--fp-color-grandlab)             !important;}  &:hover{color: var(--fp-color-grandlab)           !important}}
.fp-text-color-Accueil            {&.is-hover-from-nav, &.is-active {color: var(--fp-color-accueil)              !important;}  &:hover{color: var(--fp-color-accueil)            !important}}
.fp-text-color-Foodlab            {&.is-hover-from-nav, &.is-active {color: var(--fp-color-foodlab)              !important;}  &:hover{color: var(--fp-color-foodlab)            !important}}
.fp-text-color-Hotel_Entreprises  {&.is-hover-from-nav, &.is-active {color: var(--fp-color-hotel_entreprises)    !important;}  &:hover{color: var(--fp-color-hotel_entreprises)  !important}}
.fp-text-color-Creche             {&.is-hover-from-nav, &.is-active {color: var(--fp-color-creche)               !important;}  &:hover{color: var(--fp-color-creche)             !important}}
.fp-text-color-Ecole_Horlogerie   {&.is-hover-from-nav, &.is-active {color: var(--fp-color-ecole_horlogerie)     !important;}  &:hover{color: var(--fp-color-ecole_horlogerie)   !important}}
